<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contact List</title>
</head>
<body>
  <h1>Contact List</h1>

  <div>
    <a th:href="@{/contact/add}">Add Contact</a> |
    <a th:href="@{/}">Back to Index</a>
  </div>

  <div>
    <table border="1">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Edit</th>
      </tr>
      <tr th:each="contact : ${contacts}">
        <td th:utext="${contact.id}">1</td>
        <td th:utext="${contact.name}">Pradeep</td>
        <td th:utext="${contact.phone}">8811881188</td>
        <td th:utext="${contact.email}">pradeep17sep@gmail.com</td>
        <td><a th:href="@{/contact/{contactId}/edit(contactId=${contact.id})}">Edit</a></td>
      </tr>
    </table>
  </div>
</body>
</html>